@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0 0 0 0;
}

.logo {
  margin-right: 20px;
}
.container {
  padding: 20px 20px 20px 20px;
}

.input-group {
  margin-bottom: 15px;
}

.nav-active {
  font-weight: bolder;
}
